{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="overlayContent">
    <h3>Plan your journey</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.startingPlace|as_crispy_field }}
        {{ form.destinationPlace|as_crispy_field }}
        {{ form.attractions|as_crispy_field }}
        {{ form.numberOfHours|as_crispy_field }}
        {{ form.maxNumberOfStops|as_crispy_field }}
        {{ form.batteryCapacity|as_crispy_field }}
        <input type="submit" class="btn btn-info" value="Find your awesome route!">
    </form>
    {% if qr_link != "" %}
    <button type="button" class="qr btn btn-secondary" onclick="qrFunction()">
        Go on the ride!
    </button>
    {% endif %}
    <div id="qr" style="display:none">
        <img src="data:image/png;base64, {{ qr_link }}">
    </div>
</div>

<div id="mapid"></div>
<script>
    window.onload = function() {
        let mymap = L.map('mapid').setView([46, 25], 7);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
        }).addTo(mymap);

        let C = L.AwesomeMarkers.icon({
            icon: 'charging-station',
            markerColor: 'green',
            prefix: 'fa',
        });

        let H = L.AwesomeMarkers.icon({
            icon: 'bed',
            markerColor: 'blue',
            prefix: 'fa'
        });

        let S = L.AwesomeMarkers.icon({
            icon: 'play',
            markerColor: 'black',
            prefix: 'fa'
        });

        let D = L.AwesomeMarkers.icon({
            icon: 'flag-checkered',
            markerColor: 'black',
            prefix: 'fa',
        });

        let A = L.AwesomeMarkers.icon({
            icon: 'star',
            markerColor: 'red',
            prefix: 'fa',
        });

         {% for stop in stops %}
             L.marker([{{ stop.place.position.lat }},{{ stop.place.position.lon }}], { icon: {{ stop.place.icon }} }).addTo(mymap)
                 .bindPopup('<h2 style="text-align: center">Trip details</h2><br><h4>Arrive At: {{ stop.formated_arrival }}<br>Leave At: {{ stop.formated_departure }}<br>Battery Level: {{ stop.current_battery|floatformat:2 }}%</h4><br><h2 style="text-align: center">Location details</h2><h3 style="text-align: center">{{ stop.place.name }}<br></h3>');
         {% endfor %}

        var control = L.Routing.control({
            waypoints: [
                {% for stop in stops %}
                    L.latLng({{stop.place.position.lat}}, {{stop.place.position.lon}}),
                {% endfor %}
            ],
            router: new L.Routing.OSRMv1({
            {#    TODO Change with OSRM server ip#}
            serviceUrl: 'http://192.168.43.188:5000/route/v1'
            }),
            routeWhileDragging: true,
            createMarker: function() { return null; },
            waypointMode: 'snap'
        }).addTo(mymap);

        {% if qr_link == "" %}
            control.hide();
        {% else %}
            control.show();
        {% endif %}
    };

</script>
<script>
$(document).ready(function(){
    let image = '<img src="data:image/png;base64, {{ qr_link }}">';
    $('[data-toggle="popover"]').popover(
        {
            placement: 'left',
            content: image,
            html: true
        }
    );

    // if ({{stops}} == [] )
    //     document.getElementsByClassName("leaflet-right").style.display = "none";
});

    function qrFunction() {
        let x = document.getElementById("qr");

        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<script>
    autocomplete_departure(document.getElementById("id_startingPlace"), cities);
    autocomplete_destination(document.getElementById("id_destinationPlace"), cities);
</script>
{% endblock content %}
</body>
</html>